body {
    background-color: rgb(230, 238, 255);
    font-family: 'Lucida Console',
        'Monaco', Georgia;
}

img {
    height: auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    background-color: white;
}

a {
    color: red;
}

div {
    background-color: white;
}