body {
    background-color: rgb(230, 238, 255);
    font-family: 'Lucida Console', 'Monaco', Georgia;
}

img {
    height: auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}