body {
    background-color: rgb(230, 238, 255);
    font-family: 'Lucida Console', monospace, 'Monaco', Georgia;
    box-sizing: border-box;
}

.testing_block {
    height: auto;
    width: 500px;
    display: flex;

}

.spongebob {
    margin-left: 200px;
    margin-right: 1rem;

}

.flag {
    margin-left: 1em;
    margin-right: 200px;
}

.list {
    text-align: center;
    color: rgb(230, 238, 255);
}

a {
    color: green;
}

h1 {
    text-align: center;
    background-color: white;
}